<template>
    <div>
        <b-card
                v-if="arvore.length"
                class="text-center">
            <div v-for="assunto in arvore" :key="assunto.id">
                <tree-list
                        :node="assunto">
                </tree-list>
            </div>
        </b-card>
    </div>

</template>

<script>

  import {eventBus} from "../main";
  import TreeList from "./TreeList";

  export default {
    components: {
        'tree-list': TreeList
    },
    props: ['banca', 'orgao'],
    data: function() {
        return {
            // arrArvore: [],
            arvore: []
        }
    },
    methods: {
        gerarArvore(filtro) {
            this.$http.get('http://localhost:8081/api/assuntos', {params: filtro})
            .then((response) => {
                this.arvore = response.data;
                let assuntos = this.extrairAssunto(response.data);
                this.obterQuestoesPorAssunto(assuntos, response.data);
                let assuntosInvertidos = [];
                assuntos.forEach( f => assuntosInvertidos.push(this.inverter(f)));
                this.arvore = this.agruparRecursivo(assuntosInvertidos);
            })
        },
        extrairAssunto(questoes) {
            let assuntoList = [];
            let assuntoIdList = [];
            questoes.forEach(item => {
                let indexId = assuntoIdList.indexOf(item.assunto.id);
                if (indexId < 0) {
                    assuntoIdList.push(item.assunto.id);
                    assuntoList.push(item.assunto);
                }
            });
            return assuntoList;
        },
        obterQuestoesPorAssunto(assuntoList, questaoList) {
            assuntoList.forEach(f => {
                let questoesPorAssunto = questaoList.filter(g => g.assunto.id == f.id);
                f.questoes = questoesPorAssunto;
            });
        },
        obterListaPaiPorAssunto (assunto, paiList) {
            if (assunto.pai) {
                paiList.push(assunto.pai);
                return this.obterListaPaiPorAssunto(assunto.pai, paiList);
            }
            return paiList;
        },
        inverter(assunto) {
            let paiList = this.obterListaPaiPorAssunto(assunto, [assunto]);
            for(let i = paiList.length - 1; i > 0; i--) {
                paiList[i].filhoList = [Object.assign(paiList[i -1], {})];
                paiList[i -1].pai = undefined;
            }
            return paiList[paiList.length - 1];
        },
        agrupar(assuntoList) {
            let levelOne = [];
            let levelOneId = [];
            assuntoList.forEach(f => {
                if (levelOneId.indexOf(f.id) < 0) {
                    levelOne.push(f);
                    levelOneId.push(f.id);
                }
            });
            let resultadoList = [];
            levelOneId.forEach(f => {
                let lista = assuntoList.filter(g => g.id == f);
                let resultado = lista[0];
                if (!resultado.filhoList) {
                    resultado.filhoList = [];
                }
                for (let i = 1; i < lista.length; i++) {
                    if (lista[i].filhoList && lista[i].filhoList.length > 0) {
                        resultado.filhoList.push(...lista[i].filhoList);
                    }
                }

                resultadoList.push(resultado);
            });
            return resultadoList;
        },
        agruparRecursivo(lista) {
            let item = this.agrupar(lista);
            item.forEach(g => {
                if (g.filhoList) {
                    g.filhoList = this.agruparRecursivo(g.filhoList);
                }
            });
            return item;
        },
        teste() {
            console.log('teste');
        }
    },
    created() {
        eventBus.$on('gerarArvore', (filtro) => {
            this.gerarArvore(filtro)
        })
    }
  }

</script>
