<template>
    <div class='container'>
      <b-navbar type="dark" variant="dark">
        <b-navbar-brand href="#">Programa de Estudos</b-navbar-brand>
      </b-navbar>
      <hr>
      <div class="row">
        <div class="col-xl-12 text-center">
          <b-form @submit="onSubmit" inline>
            <label class="mr-sm-2" for="input-banca">Banca</label>
            <b-form-select
                    id="input-banca"
                    v-model="banca"
                    :options="bancas"
                    class="mb-2 mr-sm-2 mb-sm-0"
                    value-field="id"
                    text-field="nome"
                    required
            ></b-form-select>
            <label class="mr-sm-2" for="input-orgao">Orgão</label>
            <b-form-select
                    id="input-orgao"
                    v-model="orgao"
                    :options="orgaos"
                    class="mb-4 mr-sm-4 mb-sm-0"
                    value-field="id"
                    text-field="nome"
                    required
            ></b-form-select>
            <b-button type="submit">Gerar árvore</b-button>
          </b-form>
        </div>
      </div>
      <hr>
      <div class="row">
        <arvore></arvore>
      </div>
    </div>

</template>

<script>
  import { eventBus } from "../main";
  import Arvore from "./Arvore";

  export default {
    components: {
      'arvore': Arvore
    },
    mounted: function() {
      this.getBancas();
      this.getOrgaos();
    },
    data: function() {
      return {
        bancas: [],
        banca: null,
        orgaos: [],
        orgao: null
      };
    },
    methods: {
      getBancas: function() {
        this.$http.get('http://localhost:8081/api/bancas')
        .then((response) => {
          this.bancas = response.data;
        })
      },
      getOrgaos: function() {
        this.$http.get('http://localhost:8081/api/orgaos')
        .then((response) => {
          this.orgaos = response.data;
        })
      },
      onSubmit(evt) {
        evt.preventDefault()
        eventBus.$emit('gerarArvore', {banca: this.banca, orgao: this.orgao})
      },
    }
  }

</script>
