<template>
    <div>
        <div
                @click="abrirNo()"
                :style="{'margin-left': `${level * 15}px`}"
                class="node">
            <span v-if="showNode"><b-icon icon="node-minus"></b-icon></span>
            <span v-if="!showNode && (hasChildren)"><b-icon icon="node-plus"></b-icon></span>
            {{node.nome}}
        </div>
        <transition-group name="slide-fade">
            <template v-if="showNode">
                <tree-list
                        v-for="child in node.filhoList"
                        :key="child.id"
                        :node="child"
                        :level="level + 1"
                />
            </template>
        </transition-group>
        <transition-group name="slide-fade">
            <template v-if="showNode">
                <tree-list
                        v-for="child in node.questoes"
                        :key="child.id"
                        :node="child"
                        :level="level + 1">

                </tree-list>
            </template>
        </transition-group>
    </div>

</template>

<script>

  export default {
    name: 'tree-list',
    props: {
        node: Object,
        level: {
            type: Number,
            default: 0,
        },
        pai: Object,
        show: {
            type: Boolean,
            default: false
        },
    },
    data: function() {
        return {
            showNode: this.show
        }
    },
    methods: {
        abrirNo() {

            if (this.hasChildren || this.hasQuestos) {
                this.showNode = !this.showNode
            }
        }
    },
    computed: {
      hasChildren() {
        return this.node.filhoList;
      },
      hasQuestos() {
        return this.node.questoes;
      }
    },
  }

</script>

<style scoped>
    .node{
        text-align: left;
    }

    /* Animações de entrada e saída podem utilizar diferentes  */
    /* funções de duração e de tempo.                          */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }
</style>
